.product span {
    font-size: 100px;
}

.product-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-size: 20px;
    flex: 1;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.product-container button {
    font-size: 20px;
    background-color: #212121;
    color: #fff;
    padding: 10px;
}

.product {
    
}
